.header {
    padding: 11px 8px 8px;
    padding-left: 20px;
    border-bottom: 1px solid #f1f1f1;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: #fff;
    
}
.icon-margin-8 a{
    margin-right: 8px;
}
/*header logo box start*/
.logo{
    width: 210px;
    margin-right: 16px;
}

.logo_icon{
    padding-left: 8px;
}
.logo a:hover{
    background-color: none;
}
/*header logo box end*/
.header-main{
    justify-content: space-between;
    width: 100%
    
}
/*header search box start*/
.search-box{
    flex-grow: 1;
    max-width: 820px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 8px;
    border-radius: 8px;   
    background-color: #f1f3f4;
}

.bg-color{
    background-color: inherit;
    
}
.search{
    flex-grow: 1;
}
.search-box input{
    border: none;
    font-size: 16px;
    width: 100%;
   padding: 8px;
   background-color: #f1f3f4
     
}
.search-box input:focus{
    background-color: #fff;
    outline: none;  
}
.searchBoxFocus{
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}


.header-right{
    width: 176px;
}
a.profile-img{
    padding: 4px;
}
.profile-img img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 1;
}
